doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Lesson 1
    link(
      rel="stylesheet"
      href="./index.css"
    )
  body
    header
      .w-100 Блок во всю ширину header


