doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Lesson 2
    link(
      rel="stylesheet"
      href="./index.css"
    )
  body
    .link-wrapper
      a Ссылка
        img( src="./img.jpg" )

    .link-wrapper--card-blue 
      a Ссылка
        img( src="./img.jpg" )